<section id="aboutMe" class="about-me">
  <div class="wrapper">
    <p class="about-me__desc">From art to&nbsp;technology, we&nbsp;transform visions into extraordinary
      <strong>digital experiences</strong>&nbsp;&mdash; your design, our passion, an&nbsp;exceptional future</p>
    <div class="about-me__socials">
      <h2>About Me</h2>
        <ul>
          <li><a href="#"><img src="./img/icons/icon-social-facebook.png" alt="Icon facebook"></a></li>
          <li><a href="#"><img src="./img/icons/icon-social-twitter.png" alt="Icon twitter"></a></li>
          <li><a href="#"><img src="./img/icons/icon-social-linkedin.png" alt="Icon linkedin"></a></li>
          <li><a href="#"><img src="./img/icons/icon-social-dribble.png" alt="Icon dribble"></a></li>
        </ul>
    </div>
  </div>
</section>
