<section class="contacts">
  <div class="wrapper">
    <h2>Contact</h2>
    <div class="contacts__call-back">
      <h3>Let&rsquo;s start building your brand&rsquo;s unique story together.</h3>
      <p>Want to&nbsp;see what a&nbsp;difference a&nbsp;strong brand can make? Request a&nbsp;consultation today.</p>
      <a href="#">Get in touch</a>
    </div>
  </div>
</section>
