<footer class="footer">
  <div class="wrapper">
    <p class="footer__copyright">&copy;&nbsp;Made by&nbsp;<strong>Kunturi Design</strong>. All rights reserved.</p>
    <ul class="footer__socials">
      <li><a href="#" class="footer__socials--facebook"></a></li>
      <li><a href="#" class="footer__socials--twitter"></a></li>
      <li><a href="#" class="footer__socials--linkedin"></a></li>
      <li><a href="#" class="footer__socials--dribble"></a></li>
    </ul>
  </div>
</footer>
