<header class="header">
  <div class="wrapper">
    <a href="#top" class="logo"><img src="./img/logo.png" alt="Logo Dianne Studio"></a>
    <nav class="menu"><ul><li><a href="#">Menu</a></li></ul></nav>
  </div>
</header>
