<section class="logos">
  <div class="wrapper">
    <ul class="logos__items">
      <li><img src="./img/logos/logo-1.png" alt="Logotype LogoIpsum"></li>
      <li><img src="./img/logos/logo-2.png" alt="Logotype LogoIpsum"></li>
      <li><img src="./img/logos/logo-3.png" alt="Logotype LogoIpsum"></li>
      <li><img src="./img/logos/logo-4.png" alt="Logotype LogoIpsum"></li>
      <li><img src="./img/logos/logo-5.png" alt="Logotype LogoIpsum"></li>
      <li><img src="./img/logos/logo-6.png" alt="Logotype LogoIpsum"></li>
      <li><img src="./img/logos/logo-7.png" alt="Logotype LogoIpsum"></li>
    </ul>
  </div>
</section>
