<section class="main-screen">
  <div class="wrapper">
    <h1>
      <strong>Dianne Russell</strong>
      digital design
    </h1>
    <a href="#aboutMe" class="main-screen__link-up">
      <img src="./img/icons/arrow-up-black.png" alt="Arrow Up">
    </a>
  </div>
  <div class="main-screen__img"><img src="./img/back/main-screen.jpg" alt="Photo Dianne Russell"></div>
</section>
