<section class="my-clients">
  <div class="wrapper">
    <h2>My Clients</h2>
    <div class="reviews">
      <div class="reviews__item">
        <img src="./img/logos/logo-2.png" alt="Logotype LogoIpsum" class="reviews__item--logo">
        <h3 class="reviews__item--title">Exceptional Web and Digital Design That Exceeded Expectations</h3>
        <div class="reviews__item--desc">Our website redesign and digital transformation went above and beyond our wildest dreams. Dianne&rsquo;s attention to&nbsp;detail, creativity, and unmatched design skills resulted in&nbsp;a&nbsp;visually stunning and user-friendly online presence that left&nbsp;us in&nbsp;awe.</div>
        <div class="reviews__item--author">
          <img src="./img/reviews/annette-black.jpg" alt="Icon Annette Black">
          <div>
            <h4>Annette Black</h4>
            <p>Marketing Coordinator</p>
          </div>
        </div>
      </div>
      <div class="reviews__item">
        <img src="./img/logos/logo-1.png" alt="Logotype LogoIpsum" class="reviews__item--logo">
        <h3 class="reviews__item--title">Art Direction that Perfectly Captured Our Essence</h3>
        <div class="reviews__item--desc">Collaborating with Dianne on&nbsp;our art direction was an&nbsp;absolute delight. He&nbsp;not only listened to&nbsp;our ideas but also infused his own creativity into the mix, resulting in&nbsp;a&nbsp;visual brand identity that flawlessly encapsulated our essence.</div>
        <div class="reviews__item--author">
          <img src="./img/reviews/ralph-edwards.jpg" alt="Icon Ralph Edwards">
          <div>
            <h4>Ralph Edwards</h4>
            <p>Software Development Manager</p>
          </div>
        </div>
      </div>
      <div class="reviews__item">
        <img src="./img/logos/logo-4.png" alt="Logotype LogoIpsum" class="reviews__item--logo">
        <h3 class="reviews__item--title">Interaction Design Expertise that Delivered Beyond Measure</h3>
        <div class="reviews__item--desc">Dianne&rsquo;s expertise in&nbsp;interaction design elevated our app to&nbsp;new heights of&nbsp;user-friendliness and intuitiveness. His meticulous approach and imaginative thinking led to&nbsp;a&nbsp;product that far exceeded our expectations.</div>
        <div class="reviews__item--author">
          <img src="./img/reviews/jacob-jones.jpg" alt="Icon Jacob Jones">
          <div>
            <h4>Jacob Jones</h4>
            <p>Scrum Master</p>
          </div>
        </div>
      </div>
      <div class="reviews__item">
        <img src="./img/logos/logo-5.png" alt="Logotype LogoIpsum" class="reviews__item--logo">
        <h3 class="reviews__item--title">Captivating Motion Design that Breathed Life into Our Brand</h3>
        <div class="reviews__item--desc">Dianne&rsquo;s mastery of&nbsp;motion design is&nbsp;nothing short of&nbsp;extraordinary. With his stunning animations, he&nbsp;breathed life into our brand, leaving our audience thoroughly captivated.</div>
        <div class="reviews__item--author">
          <img src="./img/reviews/cameron-williamson.jpg" alt="Icon Cameron Williamson">
          <div>
            <h4>Cameron Williamson</h4>
            <p>Software Tester</p>
          </div>
        </div>
      </div>
      <div class="reviews__item">
        <img src="./img/logos/logo-6.png" alt="Logotype LogoIpsum" class="reviews__item--logo">
        <h3 class="reviews__item--title">Dianne Delivered a&nbsp;Website that Truly Showcases Our Business</h3>
        <div class="reviews__item--desc">Dianne&rsquo;s web design prowess has given&nbsp;us a&nbsp;website that not only showcases our business but does so&nbsp;in&nbsp;a&nbsp;highly professional and user-friendly manner. We&nbsp;couldn&rsquo;t be&nbsp;more thrilled with the final result.</div>
        <div class="reviews__item--author">
          <img src="./img/reviews/eleanor-pena.jpg" alt="Icon Eleanor Pena">
          <div>
            <h4>Eleanor Pena</h4>
            <p>Software Developer</p>
          </div>
        </div>
      </div>
      <div class="reviews__item">
        <img src="./img/logos/logo-7.png" alt="Logotype LogoIpsum" class="reviews__item--logo">
        <h3 class="reviews__item--title">Dianne Delivers a&nbsp;Business-Showcasing Website</h3>
        <div class="reviews__item--desc">Dianne&rsquo;s mastery of&nbsp;web design has given our brand a&nbsp;vibrant new lease on&nbsp;life. With precision and creativity, she transformed our vision into a&nbsp;website that truly sets&nbsp;us apart from the competition.</div>
        <div class="reviews__item--author">
          <img src="./img/reviews/courtney-henry.jpg" alt="Icon Courtney Henry">
          <div>
            <h4>Courtney Henry</h4>
            <p>Software Development Manager</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
