<section class="our-team">
  <div class="wrapper">
    <h2>Our Team</h2>
    <div class="items">
      <div class="item">
        <p>
          <a href="#" class="item__title">Tyra Dhillon</a>
          <a href="#" class="item__job-title">Creative Director</a>
        </p>
        <a href="#" class="item__photo"><img src="./img/our-team/tyra-dhillon.jpg" alt="Photo Name"></a>
        <ul class="item__socials">
          <li><a href="#" class="item__socials--facebook"></a></li>
          <li><a href="#" class="item__socials--twitter"></a></li>
          <li><a href="#" class="item__socials--linkedin"></a></li>
          <li><a href="#" class="item__socials--dribble"></a></li>
        </ul>
      </div>
      <div class="item">
        <p>
          <a href="#" class="item__title">Darcel Ballentine</a>
          <a href="#" class="item__job-title">Brand Designer</a>
        </p>
        <a href="#" class="item__photo"><img src="./img/our-team/darcel-ballentine.jpg" alt="Photo Name"></a>
        <ul class="item__socials">
          <li><a href="#" class="item__socials--facebook"></a></li>
          <li><a href="#" class="item__socials--twitter"></a></li>
          <li><a href="#" class="item__socials--linkedin"></a></li>
          <li><a href="#" class="item__socials--dribble"></a></li>
        </ul>
      </div>
      <div class="item">
        <p>
          <a href="#" class="item__title">Brittni Lando</a>
          <a href="#" class="item__job-title">Fashion Designer</a>
        </p>
        <a href="#" class="item__photo"><img src="./img/our-team/brittni-lando.jpg" alt="Photo Name"></a>
        <ul class="item__socials">
          <li><a href="#" class="item__socials--facebook"></a></li>
          <li><a href="#" class="item__socials--twitter"></a></li>
          <li><a href="#" class="item__socials--linkedin"></a></li>
          <li><a href="#" class="item__socials--dribble"></a></li>
        </ul>
      </div>
      <div class="item">
        <p>
          <a href="#" class="item__title">Roselle Ehrman</a>
          <a href="#" class="item__job-title">Graphic Designer</a>
        </p>
        <a href="#" class="item__photo"><img src="./img/our-team/roselle-ehrman.jpg" alt="Photo Name"></a>
        <ul class="item__socials">
          <li><a href="#" class="item__socials--facebook"></a></li>
          <li><a href="#" class="item__socials--twitter"></a></li>
          <li><a href="#" class="item__socials--linkedin"></a></li>
          <li><a href="#" class="item__socials--dribble"></a></li>
        </ul>
      </div>
      <div class="item">
        <p>
          <a href="#" class="item__title">Jane Cooper</a>
          <a href="#" class="item__job-title">Creative Director</a>
        </p>
        <a href="#" class="item__photo"><img src="./img/our-team/jane-cooper.jpg" alt="Photo Name"></a>
        <ul class="item__socials">
          <li><a href="#" class="item__socials--facebook"></a></li>
          <li><a href="#" class="item__socials--twitter"></a></li>
          <li><a href="#" class="item__socials--linkedin"></a></li>
          <li><a href="#" class="item__socials--dribble"></a></li>
        </ul>
      </div>
      <div class="item">
        <p>
          <a href="#" class="item__title">Robert Fox</a>
          <a href="#" class="item__job-title">Brand Designer</a>
        </p>
        <a href="#" class="item__photo"><img src="./img/our-team/robert-fox.jpg" alt="Photo Name"></a>
        <ul class="item__socials">
          <li><a href="#" class="item__socials--facebook"></a></li>
          <li><a href="#" class="item__socials--twitter"></a></li>
          <li><a href="#" class="item__socials--linkedin"></a></li>
          <li><a href="#" class="item__socials--dribble"></a></li>
        </ul>
      </div>
      <div class="item item-join-team">
        <p>Join the team</p>
        <h3>Desire to&nbsp;influence the future of&nbsp;branding?</h3>
        <a href="#">Find Job</a>
      </div>
    </div>
  </div>
</section>
