<section class="selected-work">
  <div class="wrapper">
    <h2>Selected work</h2>
    <div class="selected-work__gallery">
      <div class="selected-work__gallery--tags selected-work__gallery--tags-1">
        <h3>Trinity</h3>
        <p><a href="#">Digital Design</a><a href="#">2022</a></p>
        <a href="#">Discover</a>
      </div>
      <div class="selected-work__gallery--photo"><img src="./img/gallery-work/photo-1.jpg" alt="Photo Work 1"></div>
      <div class="selected-work__gallery--photo"><img src="./img/gallery-work/photo-2.jpg" alt="Photo Work 2"></div>
      <div class="selected-work__gallery--photo"><img src="./img/gallery-work/photo-3.jpg" alt="Photo Work 3"></div>
      <div class="selected-work__gallery--photo"><img src="./img/gallery-work/photo-4.jpg" alt="Photo Work 4"></div>
      <div class="selected-work__gallery--tags selected-work__gallery--tags-2">
        <h3>Morpheus</h3>
        <p><a href="#">Digital Design</a><a href="#">2023</a></p>
        <a href="#">Discover</a>
      </div>
      <div class="selected-work__gallery--more">
        <a href="#">All Work</a>
      </div>
    </div>
  </div>
</section>
