<section class="what-i-do">
  <div class="wrapper">
    <h2>What I&nbsp;do</h2>
    <div class="items">
      <div class="item">
        <h3>Digital Design</h3>
        <p>I&nbsp;craft captivating digital designs that captivate and motivate your audience. Allow me&nbsp;to&nbsp;breathe life into your brand with my&nbsp;expertise.</p>
      </div>
      <div class="item">
        <h3>Art Direction</h3>
        <p>My&nbsp;proficiency in&nbsp;art direction guarantees that your project aligns with your brand, conveys your message effectively, and is&nbsp;visually striking. Let&rsquo;s collaborate to&nbsp;narrate your story.</p>
      </div>
      <div class="item">
        <h3>Interaction Design</h3>
        <p>I&nbsp;have a&nbsp;specialization in&nbsp;creating user experiences that are not only functional but also aesthetically pleasing and user-friendly.</p>
      </div>
      <div class="item">
        <h3>Motion Design</h3>
        <p>From dynamic logos to&nbsp;informative explainer videos, I&nbsp;infuse life into your message through visually mesmerizing motion design.</p>
      </div>
    </div>
  </div>
</section>
