@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font ($name, $fileName, $fontWeight: 400, $fontStyle: normal) {
  @font-face {
    font-family: $name;
    src: url('../fonts/#{$fileName}.woff') format('woff'),
    url('../fonts/#{$fileName}.woff2') format('woff2');
    font-weight: $fontWeight;
    font-style: $fontStyle;
  }
}

// add/remove margins
@mixin push--ends($spacingTop, $spacingBottom: $spacingTop) { margin: { top: $spacingTop; bottom: $spacingBottom; } }
@mixin push--sides($spacingLeft, $spacingRight: $spacingLeft) { margin: { left: $spacingLeft; right: $spacingRight; } }
@mixin push--auto { margin: { left: auto; right: auto; } }
@mixin offset--sides($spacingLeft, $spacingRight: $spacingLeft) { margin: { left: -$spacingLeft; right: -$spacingRight; } }
@mixin flush--ends { margin: { top: 0; bottom: 0; } }
@mixin flush--sides { margin: { left: 0; right: 0; } }

// add/remove paddings
@mixin soft--ends($spacingTop, $spacingBottom: $spacingTop) { padding: { top: $spacingTop; bottom: $spacingBottom; } }
@mixin soft--sides($spacingLeft, $spacingRight: $spacingLeft) { padding: { left: $spacingLeft; right: $spacingRight; } }
@mixin soft--sides-ends($spacingTop, $spacingLeft) {
  padding: { top: $spacingTop; right: $spacingLeft; bottom: $spacingTop; left: $spacingLeft; }
}
@mixin hard--ends { padding: { top: 0; bottom: 0; } }
@mixin hard--sides { padding: { left: 0; right: 0; } }

@mixin img ($width: 100%) {
  @if $width != 100% {
    max-width: $width;
  }
  width: 100%;
  height: auto;
}

// Adaptive Height
@mixin adaptive-height($height, $blockAdaptive: img) {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: $height;
  #{$blockAdaptive} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Adaptive Font
@mixin adaptive-font($pcSize, $mobSize, $maxWidth: 1920) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media screen and (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }
  @media screen and (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

@mixin buttons($color: $colorMain, $back: $colorWhite, $arrow: false) {
  @include flex-center;
  @include adaptive-font(18, 16);
  @include soft--sides-ends(.83em, 1.66em);
  font-weight: 500;
  text-decoration: none;
  color: $color;
  background-color: $back;
  border-radius: 2.78em;
  @if $arrow {
    column-gap: .56em;
    &:after {
      content: '';
      display: block;
      width: 1.33em;
      height: .94em;
      background: url('../img/icons/arrow-right-white.png') no-repeat;
      background-size: cover;
    }
  }
}
