@import '../settings/variables';
@import '../settings/mixins';

.about-me {
  padding-top: 30px;
  @media screen and (min-width: 1201px) {
    @include soft--ends(93px);
  }
  .wrapper {
    max-width: 1850px;
    @media screen and (min-width: 1201px) {
      display: grid;
      grid-template-columns: 1fr minmax(400px, 485px);
      justify-content: end;
      align-items: center;
      padding-right: 0;
      margin-right: 0;
      column-gap: 70px;
    }
    @media screen and (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      gap: 30px;
      @include soft--sides(0);
    }
  }
  &__desc {
    @include adaptive-font(61, 19);
    font-weight: 300;
    @media screen and (max-width: 1200px) {
      text-align: center;
      @include soft--sides(15px);
    }
    strong {
      font-weight: 800;
    }
  }
  &__socials {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    background-color: $colorMain;
    color: $colorWhite;
    @include soft--sides-ends(40px, 30px);
    @media screen and (min-width: 1201px) {
      @include soft--sides-ends(60px, 70px);
    }
    h2 {
      @include adaptive-font(32, 18);
      line-height: 1;
      text-transform: uppercase;
    }
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
    }
  }
}
