@import '../settings/variables';
@import '../settings/mixins';

.contacts {
  @include soft--ends(30px, 50px);
  border-top: 1px solid $colorMain;
  border-bottom: 1px solid $colorMain;
  @media screen and (min-width: 1201px) {
    @include soft--ends(100px);
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    @media screen and (min-width: 769px) {
      gap: 40px;
    }
    @media screen and (min-width: 1201px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  h2 {
    @include adaptive-font(155, 50);
    font-weight: 300;
    color: #333;
    text-transform: uppercase;
  }
  &__call-back {
    display: flex;
    flex-direction: column;
    gap: 30px;
    h3 {
      @include adaptive-font(64, 31);
      font-weight: 700;
      text-transform: uppercase;
    }
    p {
      @include adaptive-font(34, 19);
      font-weight: 500;
    }
    a {
      @include buttons($colorWhite, $colorMain, true);
      @media screen and (min-width: 769px) {
        width: 23%;
        margin: 0 auto;
      }
      @media screen and (min-width: 1201px) {
        width: 30%;
        margin: 0;
      }
    }
  }
}
