@import '../settings/variables';
@import '../settings/mixins';

.footer {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    @include soft--ends(24px);
    @media screen and (min-width: 769px) {
      @include soft--ends(45px);
      justify-content: space-between;
      text-align: left;
    }
    @media screen and (min-width: 1201px) {
      @include soft--ends(25px);
    }
  }
  &__copyright {
    @include adaptive-font(18, 16);
    strong {
      font-weight: 600;
    }
  }
  &__socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    a {
      @include flex-center;
      &:before {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        background-size: cover;
        background-repeat: no-repeat;
      }
      &.footer__socials--facebook {
        background-image: url('../img/icons/icon-social-facebook-black.png');
      }
      &.footer__socials--twitter {
        background-image: url('../img/icons/icon-social-twitter-black.png');
      }
      &.footer__socials--linkedin {
        background-image: url('../img/icons/icon-social-linkedin-black.png');
      }
      &.footer__socials--dribble {
        background-image: url('../img/icons/icon-social-dribble-black.png');
      }
    }
  }
}
