@import '../settings/variables';
@import '../settings/mixins';

.header {
  @include soft--ends(40px);
  position: sticky;
  top: 0;
  background-color: $backSite;
  transition: .25s ease-in;
  z-index: 10;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      text-decoration: none;
      outline: none;
      @media screen and (min-width: 769px) {
        img {
          @include img(363px);
        }
      }
      @media screen and (max-width: 768px) {
        width: 91px;
        overflow: hidden;
        img {
          width: 363px;
          height: 43px;
        }
      }
    }
    .menu {
      ul {
        li {
          a {
            color: inherit;
            font-size: 25px;
            font-weight: 600;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  &.sticky {
    @include soft--ends(20px);
    box-shadow: 0 -2px 16px rgba($color: $colorMain, $alpha: .5);
  }
}
