@import '../settings/variables';
@import '../settings/mixins';

.logos {
  @include soft--ends(30px);
  border-top: 1px solid $colorMain;
  border-bottom: 1px solid $colorMain;
  @media screen and (min-width: 1201px) {
    @include soft--ends(70px);
  }
  @media screen and (min-width: 769px) {
    @include soft--ends(40px);
  }
  &__items {
    @include adaptive-font(20, 13);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    @media screen and (min-width: 1201px) {
      gap: 1.9em;
    }
    li {
      @include flex-center;
      @include soft--sides(2em);
      height: 3.5em;
      background-color: $colorWhite;
      border-radius: 2.5em;
      &:nth-child(1) {
        img {
          @include img(7.55em);
        }
      }
      &:nth-child(2) {
        img {
          @include img(9.05em);
        }
      }
      &:nth-child(3) {
        img {
          @include img(5.25em);
        }
      }
      &:nth-child(4) {
        img {
          @include img(7.65em);
        }
      }
      &:nth-child(5) {
        img {
          @include img(6.75em);
        }
      }
      &:nth-child(6) {
        img {
          @include img(4.3em);
        }
      }
      &:nth-child(7) {
        img {
          @include img(7.25em);
        }
      }
    }
  }
}
