@import '../settings/mixins';
@import '../settings/variables';
body {
  background-color: $backSite;
  color: $colorMain;
}
.wrapper {
  max-width: #{$maxWidthContainer + px};
  width: 100%;
  @include push--auto;
  @include soft--sides(15px);
}
