@import '../settings/variables';
@import '../settings/mixins';

.main-screen {
  padding-top: 32px;
  h1 {
    @include adaptive-font(150, 33);
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    align-self: stretch;
    strong {
      display: block;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  &__link-up {
    position: relative;
    display: flex;
    justify-content: center;
    height: 60px;
    margin-top: 30px;
    @include push--ends(30px);
    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      animation: jumpInfinite 1.5s infinite;
    }
  }
  &__img {
    position: relative;
    width: 100%;
    height: 956px;
    @media screen and (max-width: 768px) {
      height: 638px;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@keyframes jumpInfinite {
  0%, 100% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
}
