@import '../settings/variables';
@import '../settings/mixins';

.my-clients {
  @include soft--ends(30px, 40px);
  border-top: 1px solid $colorMain;
  border-bottom: 1px solid $colorMain;
  @media screen and (min-width: 769px) {
    @include soft--ends(30px, 70px);
  }
  @media screen and (min-width: 1201px) {
    @include soft--ends(50px, 130px);
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media screen and (min-width: 1201px) {
      gap: 50px;
    }
  }
  h2 {
    @include adaptive-font(212, 50);
    text-align: center;
    text-transform: uppercase;
  }
  .reviews {
    display: grid;
    @media screen and (min-width: 1201px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr;
    }
    &__item {
      @include soft--sides-ends(30px, 30px);
      @media screen and (min-width: 1201px) {
        &:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(5) {
          border-right: 1px solid $colorMain;
        }
        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
          border-bottom: 1px solid $colorMain;
        }
      }
      @media screen and (max-width: 1200px) {
        border-bottom: 1px solid $colorMain;
      }
      display: flex;
      flex-direction: column;
      gap: 30px;
      &--logo {
        @include adaptive-font(20, 16);
        width: 100%;
        height: 2.05em;
        object-fit: contain;
      }
      &:nth-child(1) {
        .reviews__item--logo {
          max-width: 9.05em;
        }
      }
      &:nth-child(2) {
        .reviews__item--logo {
          max-width: 7.55em;
        }
      }
      &:nth-child(3) {
        .reviews__item--logo {
          max-width: 7.65em;
        }
      }
      &:nth-child(4) {
        .reviews__item--logo {
          max-width: 6.75em;
        }
      }
      &:nth-child(5) {
        .reviews__item--logo {
          max-width: 4.3em;
        }
      }
      &:nth-child(6) {
        .reviews__item--logo {
          max-width: 7.25em;
        }
      }
      &--title {
        @include adaptive-font(40, 25);
        font-weight: 800;
        color: #333;
        line-height: 1.1;
      }
      &--desc {
        font-family: 'Inter', sans-serif;
        @include adaptive-font(20, 16);
        font-weight: 400;
        color: $colorBlack;
        line-height: 1.5;
      }
      &--author {
        display: grid;
        grid-template-columns: 70px 1fr;
        align-items: center;
        column-gap: 20px;
        img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          object-fit: cover;
        }
        div {
          display: flex;
          flex-direction: column;
          gap: 10px;
          h4 {
            @include adaptive-font(20, 16);
            font-weight: 600;
            color: $colorBlack;
            line-height: 1;
          }
          p {
            @include adaptive-font(20, 16);
            font-weight: 400;
            color: $colorBlack;
            line-height: 1;
          }
        }
      }
    }
  }
}
