@import '../settings/variables';
@import '../settings/mixins';

.our-team {
  @include soft--ends(30px, 50px);
  @media screen and (min-width: 1201px) {
    @include soft--ends(50px, 70px);
  }
  h2 {
    @include adaptive-font(212, 50);
    text-align: center;
    text-transform: uppercase;
  }
  .items {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
    @media screen and (min-width: 769px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 1fr 1fr auto;
      gap: 30px 40px;
    }
    @media screen and (min-width: 1201px) {
      margin-top: 50px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr;
    }
    .item {
      @include soft--ends(30px);
      display: flex;
      flex-direction: column;
      gap: 15px;
      @media screen and (max-width: 768px) {
        padding-bottom: 0;
      }
      p {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
      a {
        color: #333;
        text-decoration: none;
      }
      &__title {
        font-size: 30px;
        font-weight: 800;
        text-transform: uppercase;
      }
      &__job-title {
        font-size: 20px;
      }
      &__photo {
        @include adaptive-height(113.68%);
        filter: grayscale(1);
        @media screen and (min-width: 1201px) {
          @include adaptive-height(122%);
        }
      }
      &__socials {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        a {
          @include flex-center;
          &:before {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            background-size: cover;
            background-repeat: no-repeat;
          }
          &.item__socials--facebook {
            background-image: url('../img/icons/icon-social-facebook-black.png');
          }
          &.item__socials--twitter {
            background-image: url('../img/icons/icon-social-twitter-black.png');
          }
          &.item__socials--linkedin {
            background-image: url('../img/icons/icon-social-linkedin-black.png');
          }
          &.item__socials--dribble {
            background-image: url('../img/icons/icon-social-dribble-black.png');
          }
        }
      }
      &.item-join-team {
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 15px;
        @media screen and (min-width: 769px) {
          grid-column: 1/3;
        }
        @media screen and (min-width: 1201px) {
          grid-column: 3/5;
        }
        @media screen and (max-width: 768px) {
          padding-top: 60px;
        }
        p {
          @include adaptive-font(30, 19);
          text-transform: uppercase;
          @media screen and (max-width: 768px) {
            text-align: center;
          }
        }
        h3 {
          @include adaptive-font(60, 25);
          font-weight: 700;
          text-transform: uppercase;
          @media screen and (max-width: 768px) {
            text-align: center;
          }
        }
        a {
          @include buttons($colorWhite, $colorMain, true);
          max-width: 164px;
          @media screen and (max-width: 768px) {
            max-width: 100%;
          }
        }
      }
    }
  }
}
