@import '../settings/variables';
@import '../settings/mixins';

.selected-work {
  @include soft--ends(30px);
  @media screen and (min-width: 769px) {
    @include soft--ends(40px);
  }
  @media screen and (min-width: 1201px) {
    @include soft--ends(70px, 100px);
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media screen and (min-width: 1201px) {
      gap: 50px;
    }
  }
  h2 {
    @include adaptive-font(190, 50);
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  &__gallery {
    display: grid;
    @media screen and (min-width: 1201px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr auto;
      gap: 70px 40px;
    }
    @media screen and (max-width: 1200px) {
      row-gap: 30px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr auto 1fr 1fr auto auto;
    }
    @media screen and (max-width: 768px) {
      row-gap: 20px;
    }
    &--tags {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media screen and (max-width: 1200px) {
        gap: 30px;
        margin-bottom: 40px;
        &-1 {
          grid-row: 3/4;
        }
        &-2 {
          grid-row: 6/7;
        }
      }
      @media screen and (max-width: 768px) {
        gap: 20px;
        margin-bottom: 20px;
      }
      h3 {
        @include adaptive-font(40, 22);
        color: $colorBlack;
        text-transform: uppercase;
      }
      p {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        a {
          @include flex-center;
          @include adaptive-font(18, 16);
          @include soft--sides-ends(.83em, 1.66em);
          font-weight: 500;
          text-decoration: none;
          color: $colorMain;
          background-color: $colorWhite;
          border-radius: 2.78em;
        }
      }
      a {
        @include buttons($colorWhite, $colorMain, true);
        align-self: flex-end;
        margin-top: auto;
      }
    }
    &--photo {
      @include adaptive-height(100%);
    }
    &--more {
      @media screen and (min-width: 1201px) {
        grid-column: 2/3;
      }
      a {
        @include buttons;
        @include push--auto;
        max-width: 10.39em;
      }
    }
  }
}
