@import '../settings/variables';
@import '../settings/mixins';

.what-i-do {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  align-items: center;
  row-gap: 40px;
  border-bottom: 1px solid $colorMain;
  @media screen and (min-width: 1201px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 5.8vw;
  }
  @media screen and (max-width: 1200px) {
    padding-bottom: 40px;
  }
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/back/what-i-do.jpg') no-repeat;
    background-size: cover;
    @media screen and (max-width: 1200px) {
      position: relative;
      height: 100vw;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media screen and (min-width: 1201px) {
      gap: 100px;
      @include soft--ends(70px);
      padding-left: 0;
    }
  }
  h2 {
    @include adaptive-font(140, 50);
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }
  .items {
    counter-reset: counter;
    .item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: $colorBlack;
      @include soft--ends(40px);
      border-bottom: 1px solid $colorMain;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
      h3 {
        @include adaptive-font(44, 22);
        font-weight: 600;
        line-height: 1.09;
        &:before {
          counter-increment: counter;
          content: '0' counter(counter) '\00a0';
          display: inline-block;
          font-weight: 300;
        }
      }
      p {
        font-family: 'Inter', sans-serif;
        @include adaptive-font(20, 16);
        font-weight: 400;
        line-height: 1.4;
      }
    }
  }
}
