@import 'settings/mixins';
@include font('Gilroy', 'gilroy-light', 300);
@include font('Gilroy', 'gilroy-regular');
@include font('Gilroy', 'gilroy-medium', 500);
@include font('Gilroy', 'gilroy-semibold', 600);
@include font('Gilroy', 'gilroy-bold', 700);
@include font('Gilroy', 'gilroy-extrabold', 800);
@include font('Inter', 'inter-regular');

body {
	font-family: Gilroy, sans-serif;
	font-size: 16px;
	font-weight: 400;
}
